
.nk-get-user-view__filters {
  align-items: center;
  display: flex;
  padding: 12px 16px 4px;
  grid-gap: 10px;
}

.nk-no-info-user {
  margin: 50px 0;
  text-align: center;
  color: #999;
  font-size: 13px;
  line-height: 18px;
  cursor: default;
}

.nk-get-user-view .nk-icon_align_auto>svg {
  margin: -5em 0;
}

.nk-get-user-view .nk-grid__col.nk-grid__col_span_10.nk-grid__col_stick {
  position: relative
}

.nk-get-user-view .nk-scrollable__container {
  padding-top: 8px;
}

.nk-list-item-info-user__content {
  padding-bottom: 12px;
  padding-top: 12px;
}

.nk-list-item-info-user__content .nk-grid__col_stick {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.nk-info-user__user {
  font-size: 15px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nk-info-user__user--login { 
  color: #777;
}

.nk-list-item-view:not(.nk-list-item-view_expanded) .nk-list-item-info-user_details {
  display: none;
}

.nk-info-user__info {
  padding: 12px 16px;
}

.nk-info-user__info + .nk-info-user__info {
  padding-top: 0;
}

.nk-info-user__info:not(.nk-info-user__info-text) {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.nk-info-user__user-content + .nk-info-user__info {
  margin-top: 8px;
  padding-top: 12px;
  border-top: 1px solid #e6e6e6;
}

.nk-info-user__info--title {
  color: #999;
  line-height: 18px;
}

.nk-info-user__access {
  grid-gap: 5px;
  margin-top: 2px;
}

.nk-info-user__access.nk-grid {
  padding: 0;
}

.nk-user-stat-badge-view {
  display: block;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.nk-user-stat-badge-view_id_indoor-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/004640bb278e7f041c69.svg);
}

.nk-user-stat-badge-view_id_transport-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/a1a8707f5d2b4c6dcf48.svg);
}

.nk-info-user__user-badge {
  flex: 1 0 0;
}

.nk-info-user__user-badge .nk-event-view__badge {
  margin: 4px 0 0 0;
}

#get-user-spinner-input {
  position: absolute;
  right: 10px;
  top: 8px;
}

.nk-time-delete {
  color: #999;
}

.nk-get-user-view__main-alert-icon {
  left: 35px;
  position: absolute;
  top: 35px;
  z-index: 1;
}

.nk-get-user-view__alerts, 
.nk-get-user-view__event-comment {
  padding: 12px 16px;
}

.nk-get-user-view__alert {
  margin-left: 25px;
  position: relative;
}

.nk-user-profile-view .nk-get-user-view__alert {
  margin-left: 30px;
}

.nk-get-user-view__alert-icon {
  left: -25px;
  position: absolute;
  top: 0;
}

.nk-user-profile-view .nk-get-user-view__alert-icon {
  left: -30px;
}

.nk-get-user-view__alert-icon > svg {
  margin: -5.3em 0 -5em !important;
}

.nk-text-input_login:before {
  border-radius: 4px;
}

.nk-info-user-details .nk-user-profile-view__group + .nk-user-profile-view__group {
  padding-top: 0;
}

.nk-user-profile-view .nk-user-profile-view__name.nk-user-link-view_deleted:first-letter {
  color: inherit;
}

.nk-button-check-address {
  display: block;
  margin-top: 10px;
}

.nk-address-check p.nk-form-control__label {
  margin: 0;
}

.nk-address-check .nk-name-row-layout__name .nk-text-control__text {
  padding-bottom: 5px;
}

.nk-load-status-button {
  display: flex;
  align-items: center;
  min-height: 38px;
}

.nk-list-address .nk-grid__col.nk-grid__col_span_8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.nk-list-address .nk-grid__col.nk-grid__col_span_8 .nk-text-control__text {
  padding: 0;
}

.nk-list-address .nk-address {
  margin-top: 0 !important;
}

.nk-list-address .nk-address-portal {
  cursor: pointer;
}


.nk-get-user-view .nk-user-stat-view__category-group {
  display: inline-block;
  margin: 8px 4px 0;
}

.nk-get-user-view .nk-get-user-view__filters .nk-user-stat-view__category-group .nk-user-stat-category-group-view {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  display: flex;
  height: 24px;
  text-decoration: none;
  width: 68px;
}

.nk-get-user-view .nk-list-item-info-user_details-block .nk-user-stat-view__category-group .nk-user-stat-category-group-view {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  display: flex;
  height: 24px;
  text-decoration: none;
  width: 120px;
}

.nk-get-user-view .nk-user-stat-view__category-group .nk-user-stat-category-group-view .nk-user-stat-category-group-view__category-group {
  align-items: center;
  border-right: 1px solid #e6e6e6;
  display: flex;
  height: 22px;
  justify-content: center;
  width: 22px;
}

.nk-get-user-view .nk-user-stat-view__category-group .nk-user-stat-category-group-view .nk-user-stat-badge-view {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.nk-get-user-view .nk-user-stat-view__category-group .nk-user-stat-category-group-view .nk-user-stat-badge-view {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.nk-get-user-view .nk-user-stat-view__category-group .nk-user-stat-category-group-view  .nk-user-stat-category-group-view__stats {
  align-items: center;
  display: flex;
  padding: 0 4px;
}

.nk-get-user-view .nk-user-stat-badge-view_id_ad-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/c054b62cab8c0caa48d0.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_addr-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/20cbc86c2642fbb9a823.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_bld-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/78f7106495519239e658.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_cond-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/8e9ae2582f63dd9a7625.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_edits {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/c2e84d55f1ea4cb8ccc1.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_edits-disabled {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/421e923802d2b63ada3d.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_entrance-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/73585294833a424c82b2.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_expert {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/d504f2ecd3a5821272cc.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_expert-disabled {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/46793444badb50a6c2fb.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_fence-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/50106657b200e583384f.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_group-edits {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/aa14ba1f5b768441a14b.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_hydro-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/6fd8634e31301fa317b7.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_indoor-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/004640bb278e7f041c69.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_moderator {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/e328021544f2666f7828.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_moderator-disabled {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/8db90d13dd2fbbc95b84.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_parking-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/26b8be03e51757107e3f.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_poi-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/0744ac08a18e23a91faf.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_rd-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/0d1ed786b3275a4450e1.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_relief-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/55627355608ae994b1ed.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_transport-airport-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/0bd4de6981f48916fa77.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_transport-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/a1a8707f5d2b4c6dcf48.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_transport-metro-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/6befef038c0063af8228.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_transport-railway-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/c31396cab54e48762313.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_transport-waterway-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/ef71c67b002a4787b372.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_urban-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/a27145e10675a5286792.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_urban-roadnet-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/cd5ead5b559db92ccbb5.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_vegetation-group {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/2bda3e4df64bdf8aa32b.svg)
}

.nk-get-user-view .nk-user-stat-badge-view_id_group-edits {
  background: no-repeat 50% url(https://yastatic.net/s3/front-maps-static/maps-front-nmaps/_/aa14ba1f5b768441a14b.svg);
}

.nk-get-user-view .nk-user-stat-category-group-view_disabled .nk-user-stat-category-group-view__category-group .nk-user-stat-badge-view {
  opacity: .2;
}

.nk-get-user-view .nk-user-stat-category-group-view_disabled {
  color: #bfbfbf !important;
}

.nk-creat-banned-date,
.nk-expires-banned-date {
  cursor: pointer;
}

.nk-count-task-region {
  color: #bfbfbf;
  font-size: 12px;
  position: absolute;
  right: 20px;
}

.nk-checkbox_margin-left {
  margin-left: 20px;
}

.nk-portal_edit-tile .nk-map-layers-control-view__actions {
  display: block;
  margin: 12px 20px;
}

.nk-filter-block input {
  min-width: 200px;
  width: 100%;
}

.nk-filter-title {
  margin-bottom: 3px;
}

.nk-info-text-todo {
  color: #bfbfbf;
}

.nk-address-dublicate {
  display: block;
}

.nk-address-dublicate + .nk-address-dublicate {
  margin-top: 5px;
}

.nk-live-tabs-bar .nk-tabs-bar__tabs * {
  text-decoration: none;
}

.nk-get-user-view .nk-size-observer {
  width: 100%;
}